@font-face {
  font-family: '王羲之书法字体';
  src: url("../fonts/own/王羲之书法字体.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: '楷体';
  src: url("../fonts/own/simkai.ttf");
  font-weight: 300;
  font-display: swap;
}
